doctype html
html
  head
    title
      | Tasksan
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  body
    nav.app-nav aria-label="メインナビゲーション"
      = link_to 'Tasksan', root_path, class: 'app-nav__brand'
    - if flash.notice.present?
      p.alert-success role="status"= flash.notice
    = yield
